POSTGRES_DB=tasktracker
POSTGRES_USER=tracker
POSTGRES_PASSWORD=changeme_strong_password

JWT_SECRET=changeme_very_long_random_secret

MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=changeme_minio_password
MINIO_BUCKET=tasktracker-photos
MINIO_PUBLIC_URL=https://bug-tracker.sytes.net/minio
